# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.egg-info/
.pytest_cache/

# Node / frontend
node_modules/
dist/
build/
.vite/

# Env & secrets
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
.idea/

# ML artifacts
*.pkl
*.joblib
*.h5

# OS
.DS_Store
